.contactsBlock {
    min-height: 60vh;
    background: #254433;
    padding-top: 20px;
    box-sizing: border-box;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
    background: darkslategrey;
    padding: 10px;
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    align-items: center;
    background: #10e310;
    box-sizing: border-box;
}

.firstInput {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.secondInput {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.textarea {
    width: 100%;
    resize: none;
    box-sizing: border-box;
}
.title {
    background: lightcyan;
}
.sendBtn {
    background: lightcyan;
    box-sizing: border-box;
}