.contactsBlock {
    height: 100vh;
    background: darkslategrey;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;

}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 70%;
    align-items: center;
}

.firstInput {
    margin-bottom: 10px;
    width: 80%;
}

.secondInput {
    margin-bottom: 10px;
    width: 80%;
}

.textarea {
    width: 80%;
    height: 20vh;
    resize: none;
}