.contactsBlock {
    min-height: 40vh;
    background: #254433;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
    background: darkslategrey;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 80%;
    align-items: center;
    background: #badc9b;
    box-sizing: border-box;
}

.firstInput {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.secondInput {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.textarea {
    width: 100%;
    resize: none;
    box-sizing: border-box;
}
.title {
    background: lightcyan;
}