@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100lvh;

  font-family: 'MulishPro', fallback, sans-serif;
}

html {
  overflow-x: hidden;
}

.box {
  display: flex;
  width: 100%;
  height: 100lvh;
  scroll-snap-align: start;
}

.box:nth-child(2) {
  display: flex;
  width: 100%;
  height: 100dvh;
  scroll-snap-align: start;
}

.box:nth-child(3) {
  display: flex;
  width: 100%;
  height: max-content;
  min-height: 100lvh;
  scroll-snap-align: start;
}

.box:last-child {
  display: flex;
  width: 100%;
  height: 100svh;
  scroll-snap-align: start;
}

.main-section {
  @apply box main-image xs:text-sm xs1:text-base bg-black/60 items-center w-screen flex flex-col;
}

.main-image {
  position: relative;
  width: 100vw;
}

.main-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/photos/d4ql-UemMnU1.webp');
  filter: blur(2px);
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1140px;
}

.projects-section-main {
  @apply box xs:flex-col px-3 overflow-hidden md:flex-row second-image items-center flex md:gap-5 xs:gap-1 justify-center bg-black/60;
}

.project-container {
  @apply transition-all hover:shadow-md duration-500 transform md:hover:scale-105 xs:hover:scale-95 container items-center flex flex-col cursor-pointer bg-white/5 p-5 rounded-md w-fit;
}

.project-picture {
  @apply flex-shrink-0 aspect-video filter blur-[2px] hover:blur-[1px] transition-all duration-300;
}

img {
  width: 100%;
  height: 100%;
}

.skill-container {
  @apply flex flex-col items-center hover:bg-white/30 rounded-md p-2 duration-200 min-w-[70px];
}

.skill-icon {
  width: 3rem;
}

* {
  user-select: none;
}

.second-image {
  position: relative;
  width: 100vw;
}

.second-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
<<<<<<< HEAD
  background-image: url('/photos/Hdjh476OIM01.webp');
=======
  background-image: url('/public/photos/Hdjh476OIM01.webp');
>>>>>>> 14a5543779b162a2eeb1c9db17c571ab4c6f3525
  filter: blur(2px);
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: 'MulishPro';
  font-style: normal;
  src: url('../assets/fonts/Mulish-VariableFont_wght.woff2') format('woff2');
  font-display: swap;
  font-weight: 300;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-float-up {
  animation: floatUp 0.8s ease;
}
