@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '_mail-btn.scss';

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-snap-type: y mandatory;
}

@font-face {
  font-family: 'Pinksoda';
  src: url('/src/assets/fonts/Pinksoda.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gaming';
  src: url('/src/assets/fonts/Gaming.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: 'Gaming', sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
}
body {
  width: 100%;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Pinksoda', sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.box {
  display: flex;
  scroll-padding-top: 0;
  scroll-padding-bottom: 0;
  min-height: 100dvh;
}

.box:nth-child(1) {
  scroll-snap-align: start;
  min-height: 100vh;
}

.box:nth-child(2) {
  scroll-snap-align: center;
  background-color: rgb(10, 10, 10);
}

.box:nth-child(3) {
  scroll-snap-align: center;
  background-color: rgb(12, 31, 45);
}

.box:nth-child(4) {
  flex-direction: column;
  scroll-snap-align: end;
  background-color: rgb(10, 10, 10);
}

.particles-container {
  filter: blur(5px);
  pointer-events: none;
}

.main-section {
  @apply box xs:text-sm xs1:text-base;
}

.container {
  max-width: 1140px;
}

.projects-section-main {
  @apply box xs:flex-col px-3 bg-black overflow-hidden md:flex-row items-center flex md:gap-5 xs:gap-1 justify-center;
}

.project-container {
  @apply transition-all hover:shadow-md duration-500 transform md:hover:scale-105 xs:hover:scale-95 items-center flex flex-col cursor-pointer bg-black/60 p-5 rounded-md;
}

.project-picture {
  @apply flex-shrink-0 aspect-video filter blur-[2px] hover:blur-[1px] transition-all duration-300;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.skill-container {
  @apply flex flex-col items-center hover:bg-white/30 rounded-md p-2 duration-200 min-w-[70px] flex-shrink-0 transform transition-all active:translate-y-1 active:shadow-sm;
  cursor: pointer;
}

.skill-icon {
  width: 3rem;
}

* {
  user-select: none;
}

header {
  border-bottom: 1px solid rgb(255 255 255 / 10%);
}

.social:hover path {
  fill: rgb(105, 105, 105);
  transition: all 0.2s ease-in-out;
}
