.skillsBlock {
    min-height: 100vh;
    background: #badc9b;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.title {
    background: #b4ecec;
}