.mainBlock {
    height: 100vh;
    background: #1d7e83;
}

.greeting {
    width: 300px;
    background: rgba(6, 19, 68, 0.4);
}

.photoContainer {
    width: 300px;
    background: chartreuse;
    align-items: center;
    display: flex;
}
.photo {
    width: 100%;
}