.mainBlock {
    height: 100vh;
    background: #d58c98;
}

.greeting {
    width: 300px;
    background: gray;
}

.photoContainer {
    width: 300px;
    height: 400px;
    background: chartreuse;
    align-items: center;
    display: flex;
}
.photo {
    width: 100%;
    height: auto;
}