.titleDescriptionBlock {
    display: flex;
    background: crimson;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    background: #d58c98;
    justify-content: flex-start;
    width: 300px;
}

.imgContainer {
    width: 100%;

}

.projectPicture {
    height: 100%;
    width: 100%;
}