@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

html {
  overflow-x: hidden;
}

.box {
  display: flex;
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}

.main-image {
  position: relative;
  width: 100vw;
}

.main-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/photos/d4ql-UemMnU.jpg');
  filter: blur(2px);
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 1140px;
}
.skill-container {
  @apply flex flex-col items-center hover:bg-white/30 rounded-md p-2 duration-200;
}

.skill-icon {
  width: 40px;
}

a {
  user-select: none;
}
.second-image {
  position: relative;
  width: 100vw;
}

.second-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/photos/Hdjh476OIM0.jpg');
  filter: blur(2px);
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}
