.footerBlock {
    min-height: 20vh;
    background: teal;
}

.footerContainer {
    flex-direction: column;
    box-sizing: border-box;
    background: #9b5e16;
    width: 280px;
}

.socialNetwork {
    display: flex;
    flex-direction: row;
    background: gold;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.name {
    background: #2e4b69;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.rights {
    background: bisque;
    padding: 10px;
    box-sizing: border-box;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    display: flex;
}

