.footerBlock {
    height: 20vh;
    background: teal;
    display: flex;
    flex-direction: column;
}
.socialNetwork {
    display: flex;
    flex-direction: row;
    width: min-content;
    background: gold;
    justify-content: space-between;
}