.projectsBlock {
    min-height: 80vh;
    background: #6682a1;
}
.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.title {
    background: #0256b4;
}